@model InitFlowTypeTextModel

<div class="row">
    <form action="Create" method="post">
        <div class="form-group">
            <label class="col-form-label">Name</label>
            <input name="Name" id="Name" type="text" class="form-control"/>
        </div>
        <button type="submit" class="form-control btn btn-primary"> Submit </button>
        <a asp-action="Index" class="btn btn-link">Cancel</a>
    </form>
</div>