@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Magenta Workflow Engine</h2>
    <p>Learn about <a href="https://github.com/devlnull/Magenta.Workflow">Magenta Workflow Engine</a>.</p>
</div>
